* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "BebasNeue";
   src: url('/fonts/BebasNeue-Regular.ttf'); /* Fichier .ttf */
}

@font-face {
  font-family: "ProzaLibre";
  src: url('/fonts/ProzaLibre-Regular.ttf');
}

body {
  background-color: rgba(195, 201, 190, 0.9);
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "BebasNeue";
}

h2 {
  text-align: center;
  color: rgba(89, 92, 86, 0.9);
  font-size: 40px;
  font-family: "BebasNeue";
}

h3 {
  color: rgba(205, 207, 203, 0.9);
  font-family: "ProzaLibre";
  text-align: center;
}

img.icone {
  width: 30px;
  height: 30px;
}

header {
  width: 100%;
}

header.accueil {
  position: fixed;
  margin: 0px;
  z-index: 5000;
  top: 0px;
  left: 0px;
}

div.header {
  background-color: #5f6d51;
  height: 75px;
  display: flex; /* contenu linéaire */
}

div.titre {
width: 260px;
margin-left: 15px;
display: flex;
align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 15px;
}

div.nav {
  font-family: "ProzaLibre";
  margin-right: 40px;
  text-transform: uppercase;
  font-style: bold;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: white;
}


/* !!! DEBUT !!! BARRE DEFILANTE IMAGES */
div.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 115px;
}

#slide1 {
  position: relative;
  width: 1920px;
  height: 480px;
  overflow: hidden;
}

#imageslide li {
  display: inline;
}

#imageslide {
  position: absolute;
  width: 5780px;
  padding: 0;
  margin: 0px 0px;
  animation-name: AutoSlide;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes AutoSlide {

  0%,
  15%,
  100% {
    left: 0px;
    /*1ère image*/
  }

  35%,
  50% {
    left: -1925px;
    /*2ème image*/
  }

  70%,
  85% {
    left: -3845px;
    /*3ème image*/
  }
}
/* !!! FIN !!! BARRE DEFILANTE IMAGES */

/* !!! DEBUT !!! BAS DE PAGE */
footer {
  display: flex;
  align-items: center;
}

footer.pagesimple {
  display: flex;
  justify-content: space-between;
  background-color: rgba(89, 92, 86, 0.9);
  width: 100%;
  bottom: 0;
}
/* !!! FIN !!! BAS DE PAGE */

div.blocindex {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: justify;
  font-family: "ProzaLibre";
}

div.credit {
  margin-left: 15px;
  display: flex;
  align-items: center;
  place-self: start;
  padding: 20px 0px;
  }

div.paragraphe { 
  font-family: "ProzaLibre";
  width: 35%;
  padding: 20px 0px;
  color: rgba(205, 207, 203, 0.9);
  text-align: justify;
}


